name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Lint source
      run: cargo clippy
    - name: Run tests
      run: cargo test
    - name: Build Snap
      uses: snapcore/action-build@v1
